<!DOCTYPE html>
<html>

<head>

    <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/mystyle_transition.css">
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
    <ul>
        <li><a href="/intro" class="round green">Intro<span class="round">Search for most popular video by country</span></a></li>
        <li><a href="/visual" class="round red">Observation<span class="round">I'm working on this </span></a></li>
          <li><a href="#" class="round yellow">ML<span class="round">Working on this too</span></a></li>
      </ul> 



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../static/js/transition.js" type="text/javascript"></script>
</body>

</html>