<!DOCTYPE html>
<html>

<head>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
  <script src="https://apis.google.com/js/client.js?onload=init" type="text/javascript"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/mystyle_visual.css">
</head>

<body>
  <h1 class='entypo-vcard'>KsesoCss</h1>
  <nav>
    <span class='entypo-mail' data-avisos='3'></span>
    <!--
    --><span class='entypo-bell' data-avisos='1'></span>
    <!--
      --><span class='entypo-cog'></span>
  </nav>

  <input class='entypo-folder' type="radio" id="specs" value="1" name="tractor" checked='checked' />
  <input class='entypo-archive' type="radio" id="demos" value="2" name="tractor" />
  <input class='entypo-box' type="radio" id="posts" value="3" name="tractor" />
  <input class='entypo-bag' type="radio" id="credits" value="4" name="tractor" />

  <section class='specs'>
    <h2>specs</h2>
    <article>
      <img
        src='https://lh3.googleusercontent.com/-_OjGuswyoVw/Um1YG9T6JzI/AAAAAAAAces/VAym2oQxNQU/w346-h205/Rough+Road+-+Giuseppe+Peppoloni+Photography+%23road+%23windingroad+%23landscapephotography.jpg'
        alt='' />
      <h2>Selectores <span>(level 3)</span></h2>
      <ul>
        <li class='entypo-tools'>4</li>
        <li class='entypo-traffic-cone'>22
        <li>
        <li class='entypo-tag'>Rec</li>
      </ul>
    </article>

    <article>
      <img
        src='https://lh3.googleusercontent.com/-M9cV_DtmwvM/UnHUcTcwsuI/AAAAAAAARWY/52hLrIaBZRo/w346-h217/1992-0824Road-Alice-N5303.jpg'
        alt='' />
      <h2>Flexbox<span>18-09-12</span></h2>
      <ul>
        <li class='entypo-tools'>2</li>
        <li class='entypo-traffic-cone'>5
        <li>
        <li class='entypo-tag'>C.R.</li>
      </ul>
    </article>

    <article>
      <img
        src='https://lh3.googleusercontent.com/-xbuNb0Q_9oc/UnEsjHmJBMI/AAAAAAAAHCk/9bmcXfRY-o8/w346-h195/30.10.2013+-+1'
        alt='' />
      <h2>Keyframes<span>&amp;animation</span></h2>
      <ul>
        <li class='entypo-tools'>4</li>
        <li class='entypo-traffic-cone'>22
        <li>
        <li class='entypo-tag'>Rec</li>
      </ul>
    </article>

    <article>
      <img
        src='https://lh6.googleusercontent.com/-RGHcAIHvQ-Q/UnCzQaGkeII/AAAAAAAAG0o/I3KcV_LL4Ho/w346-h204/30.10.2013+-+1'
        alt='' />
      <h2>Transform<span>2D & 3D</span></h2>
      <ul>
        <li class='entypo-tools'>4</li>
        <li class='entypo-traffic-cone'>22
        <li>
        <li class='entypo-tag'>Rec</li>
      </ul>
    </article>
  </section>


  <section class='demos'>
    <h2>demos</h2>
    <article1>
    <div class='tableauPlaceholder' id='viz1577669106345' style='position: relative'><noscript>
        <a href='#'><img alt=' '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BG&#47;BGGJMB826&#47;1_rss.png'
            style='border: none' /></a>
      </noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='path' value='shared&#47;BGGJMB826' />
        <param name='toolbar' value='yes' />
        <param name='static_image'
          value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BG&#47;BGGJMB826&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' /></object></div>
    <script
      type='text/javascript'>                    var divElement = document.getElementById('viz1577669106345'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    </article1>
      <!-- <article>
        <img src='https://lh5.googleusercontent.com/--UmM2pEyKpw/UnQLx78ZjSI/AAAAAAAAB9U/3rkpRQFdyls/w346-h230/Zrzut+ekranu+2013-11-01+o+12.59.27.png' alt='' />
        <h2>Tabs <span>pestañas</span></h2>
        <ul>
          <li class='entypo-eye'>105</li>
          <li class='entypo-share'>18<li>
          <li class='entypo-thumbs-up'>360</li>
        </ul>
      </article>
      
      <article>
        <img src='https://lh3.googleusercontent.com/-w25oJNKRNSY/Um5m4D2kVII/AAAAAAAAKsg/TekQ8zJgSCA/w426-h320/IMG_6685.JPG' alt='' />
        <h2>Galerías <span>Manual & auto</span></h2>
        <ul>
          <li class='entypo-eye'>380</li>
          <li class='entypo-share'>17<li>
          <li class='entypo-thumbs-up'>599</li>
        </ul>
      </article>
      
      <article>
        <img src='https://lh4.googleusercontent.com/-ubnCkCl1cYw/Um30xSMNGcI/AAAAAAAAFdY/kTPKJqwZGgU/w426-h284/Peperoncino-0064.jpg' alt='' />    <h2>Menús<span>multinavegador</span></h2>
        <ul>
          <li class='entypo-eye'>1247</li>
          <li class='entypo-share'>15<li>
          <li class='entypo-thumbs-up'>999</li>
        </ul>
      </article> -->
  </section>


  <section class='posts'>
    <h2>posts</h2>
    <article>
      <img
        src='https://lh4.googleusercontent.com/-Fz3hNIjB9TY/UnJzyBAxnbI/AAAAAAAADOg/_7-AfD3CXzk/w426-h284/music-1.jpg'
        alt='' />
      <h2>The box models <span>31/09/13</span></h2>
      <ul>
        <li class='entypo-eye'>853</li>
        <li class='entypo-chat'>44
        <li>
        <li class='entypo-heart'>360</li>
      </ul>
    </article>

    <article>
      <img
        src='https://lh3.googleusercontent.com/-qn8j1ICqYO0/UnIJmA_cq5I/AAAAAAAAQlI/o-jF4CgBxlk/w426-h260/Paris+juin+2012+%2821%29.JPG'
        alt='' />
      <h2>Colors <span>& Backgrounds</span></h2>
      <ul>
        <li class='entypo-eye'>380</li>
        <li class='entypo-chat'>17
        <li>
        <li class='entypo-heart'>599</li>
      </ul>
    </article>

    <article>
      <img
        src='https://lh3.googleusercontent.com/-ElofudIWv-s/UnQf1D0GoNI/AAAAAAAAXlM/IeGyKeqTy3I/w346-h239/PB011130-2.jpg'
        alt='' />
      <h2>Responsive<span>Css, js & imgs</span></h2>
      <ul>
        <li class='entypo-eye'>647</li>
        <li class='entypo-chat'>75
        <li>
        <li class='entypo-heart'>999</li>
      </ul>
    </article>
  </section>


  <section class='credits'>
    <h2>credits</h2>
    <article class='entypo-picture'>
      <img
        src='https://lh4.googleusercontent.com/-BOBS6VM2c14/Ul0XmlGwqZI/AAAAAAABN7o/0DHqMKHmPSs/w346-h242/Free+jump+from+KL+tower%2C+Kuala+Lumpur%2C+Malaysia.+Photo+by+Vincent+Thian.jpg'
        alt='' />
      <h2>Imágenes<span class='entypo-gplus'>comunidades</span></h2>
      <p>de google plus.</p>
      <ul>
        <li class='entypo-eye'>853</li>
        <li class='entypo-chat'>44
        <li>
        <li class='entypo-heart'>60</li>
      </ul>
    </article>

    <article class='entypo-lamp'>
      <img
        src='https://lh6.googleusercontent.com/-eN-L60ncUrY/UkgXhvYmwGI/AAAAAAAAD9Y/BIUKK7II3_I/w346-h231/Vincent+Philippe+Benjamin+Reffet+from+France+leaps+from+the+300-metres+Open+Deck+of+the+Malaysia%27s+landmark+Kuala+Lumpur+Tower.jpeg'
        alt='' />
      <h2>Idea Layout<span class='entypo-dribbble'>Padam Boora</span></h2>
      <p>y su pic en <a href='http://dribbble.com/shots/1293113-Holiday-India/attachments/179692'>dribbble</a></p>
      <ul>
        <li class='entypo-eye'>380</li>
        <li class='entypo-chat'>17
        <li>
        <li class='entypo-heart'>59</li>
      </ul>
    </article>

    <article class='entypo-newspaper'>
      <img
        src='https://lh3.googleusercontent.com/-Ax74l63Uuec/UkgbLRldsVI/AAAAAAAASyA/CyPl6PgJEws/w346-h260/K%C3%A9p+041-crop.png'
        alt='' />
      <h2>Font Icons<span class='entypo-feather'>Entypo</span></h2>
      <p>De <a href='http://weloveiconfonts.com/'>we love icon fonts</a></p>
      <ul>
        <li class='entypo-eye'>747</li>
        <li class='entypo-chat'>75
        <li>
        <li class='entypo-heart'>99</li>
      </ul>
    </article>

    <article class='entypo-share'>
      <img
        src='https://lh4.googleusercontent.com/-jIq6eMoM3L8/UmqXVGBRtXI/AAAAAAAAAC0/8UYBkdmX-1w/w346-h231/Extreme+tight+rope+sky+walker.+Photo+by+Markus+Stadler.jpg'
        alt='' />
      <h2>Licencia<span class='entypo-shuffle'>Beerware</span></h2>
      <p>Para los <a href='https://ksesocss.blogspot.com/2013/11/landing-page-tabs-pure-css.html'>códigos de la demo</a>
      </p>
      <ul>
        <li class='entypo-eye'>447</li>
        <li class='entypo-chat'>75
        <li>
        <li class='entypo-heart'>83</li>
      </ul>
    </article>
  </section>

  <footer class='entypo-flag'>
    <div class='label'>
      <label for="specs">Specs</label>
      <!--
      --><label for="demos">Demos</label>
      <!--
      --><label for="posts">Posts</label>
      <!--
      --><label for="credits">Credits</label>
    </div>
  </footer>

  <!-- inpirado en http://dribbble.com/shots/1293113-Holiday-India/attachments/179692 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- <script src="../static/js/landing_page.js" type="text/javascript"></script> -->
</body>

</html>